---
import type { JobEntry } from "../data/jobs";

export interface Props extends JobEntry {}

const props = Astro.props as Props;
---

<article class="timeline-item">
  <div>
    <p class="timeline-date">{props.time}</p>
    <p class="timeline-location">{props.location}</p>
  </div>

  <div class="timeline-card">
    <p class="timeline-company">{props.company}</p>
    <h3 class="timeline-role">{props.title}</h3>
    <p class="timeline-copy">{props.description}</p>
  </div>
</article>
