---
export interface Props {
  title: string;
  company: string;
  location: string;
  time: string;
  description: string;
}

const props = Astro.props;
---

<div
  class="col-auto row-auto mx-4 my-2 table h-full self-center rounded-xl border border-gray-600 px-4 py-2"
>
  <p class="text-lg font-bold">{props.title}</p>
  <hr
    class="m-2 block h-px w-40 justify-self-center border-0 border-t border-solid border-gray-700 p-0"
  />
  <p class="text-sm">{props.company} - {props.location}</p>
  <p class="text-sm">{props.time}</p>

  <hr
    class="m-2 block h-px w-40 justify-self-center border-0 border-t border-solid border-gray-700 p-0"
  />
  <p class="">{props.description}</p>
</div>
